# อย่าอัปโหลดข้อมูลลับ
.env

# ไฟล์ Python ที่ไม่จำเป็น
*.pyc
__pycache__/

# SQLite database
db.sqlite3

# ไฟล์ log / cache
*.log
*.tmp

# ไฟล์ระบบ / IDE
.DS_Store
.vscode/
.idea/

# static/media (ไม่จำเป็นต้อง push)
static/
media/
